body{
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Delicious Handrawn';

    /* background-color: 클릭 이벤트로 값 지정해줄 예정; */
}

#title{
    font-size: 30px;
}

#wrapper{
    width: 500px;
    height: 500px;

    border: black solid 3px;
    border-radius: 20px;
}



