@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Delicious Handrawn';
    font-size: 30px;

    /* background-color: 클릭 이벤트로 값 지정해주긴 개뿔... 다크모드 할 수 있긴 하니; */
}

button{
    all: unset;
}

#reset-button{
    font-size: 15px;
    border: black solid 2px;
    border-radius: 50%;

    text-align: center;

    /* 다크 모드할 때 바꿔보기 */
    padding: 3px;
    background-color: black;
    color: white;
}


/* display 속성 재사용 */
.row{
    display: flex;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#title{
    font-size: 30px;
}

#contents-wrapper{
    width: 500px;
    height: 500px;

    border: black solid 3px;
    border-radius: 20px;
    margin-top: 10px;
}

.score-section{
    height: 15%;
    justify-content: space-evenly;
}

.display-section{
    height: 60%;

    justify-content: space-around;
    align-items: center;
}

.display-text{
    font-size: 50px;
    flex-basis: 50%;
    align-items: center;
    gap: 30px;

}

#display-result{
    font-size: 50px;
}

.display-title{
    border-bottom: black solid 3px;

    width: 80%;
    text-align: center;
}

.button-section{
    height: 25%;

    justify-content: center;
    align-items: center;
    gap: 10px;

}

#button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 70px;

    border-radius: 50%;
    border: black 4px solid;
    font-size: 60px;
}

#my-hand-text, #computer-hand-text{
    width: 100%;
    height: 80px;
    text-align: center;

}

.icon-container{
    font-size: 80px;

    text-align: center;
    width: 100%;
    height: 80px;
}






