@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Delicious Handrawn';

    /* background-color: 클릭 이벤트로 값 지정해줄 예정; */
}

#title{
    font-size: 30px;
}

#wrapper{
    width: 500px;
    height: 500px;

    border: black solid 3px;
    border-radius: 20px;
}

.row{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
}

.score-section{
    height: 15%;

    justify-content: space-around;
    align-items: center;

}

.display-section{
    height: 60%;

    justify-content: space-around;
    align-items: center;

}

.button-section{
    height: 25%;

    justify-content: center;
    align-items: center;
    gap: 10px;

}

.button{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 70px;

    border-radius: 50%;
    border: black 4px solid;
}

.fa-regular{
    font-size: 60px;
}



